body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.App {
  height: 100vh; /* Ensure the app container covers the full height of the viewport */
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#001d3d; /* Gradient blue background */
  color: white;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.navbar-links a:hover {
  background-color: white; /* White background for link hover effect */
  color: #0033cc; /* Blue text color on hover */
}
